@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1578936527500'); /* IE9 */
  src: url('iconfont.eot?t=1578936527500#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABmgAAAKEAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApwgREBNgIkAwgLBgAEIAWEbQc0G7sFyB6SJIEQEgSpepeARJDEw/dr7M/dfagm1cTQxLNokoiHppIIkRQpnen2f7O88+3n5tLQ65tHRCVN75vcvwnNK4+IR/FQeF3MMpVKUez7PJfTm0AHcld9oFzWHLb4MKBeHEgB7Y1R4hsIG6aXL3AgrhOo1MFPvdTUMaAySfS8QJzSZEJlKqQlidXKhdKGrWky5pQoz16yU7xGv4/fxsNEpiSnW1b3G9Oqms9uM0M7XozbyRfcLxcE20WOMSqJ2GwsL9MKxmlVlnV6qI7VGHx2/xeBVxz1zxOldH01aIPqZ9I47aPWMnisvjqpTE8aRnSeDdzfD9ze2iFPg3cPwwPzmwt9WeJ76P4eKtSzPPw0948WPe86Dxp3DcO61fHpOn56z7zTf+S+raCduoMCTWs4MVs9Va6vvQyO+dZX3blf4Ds3sHazWw2V4k9xnrLaBYHg7XD8L1ZX8b+8KoGPuqOLSD8sSvnOI8FPcqZMB1HohU6XsgSkRp2ZzpObKkVMQccbvU+1t9xRMJQXdBOiZdo5cuX6yMSOoUSVCZQqN4tKo5p3V2mCaEWqwIgZgFBvH5la78jVOyMT+4YSrX5Rqj60qLQd3iOrDARtqUcwgWEaJMcAnRIFwvqwJW7sg2SGS6C8LuKHIFLoHIgEw+VaMxQgWmKFkiWjGBOAQCIPmsBtkONEICGRgSkcpDCWykIhoulBwZTIqywWIVACBqUBSWMAWopIQATdMUvl+30gUgYnAXWIcvkhEKKgBwcigsIDyGazMEj0KPcoskhRGEYACIiIBzSBSRCHIwKk5kkMKAULoiYUJWVCph0x1Bzc3sr/3R6opB1ZmHW5ysWuWEpJCwLEKhUA') format('woff2'),
  url('iconfont.woff?t=1578936527500') format('woff'),
  url('iconfont.ttf?t=1578936527500') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1578936527500#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-CN_csdnnet:before {
  content: "\e64f";
}

